---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume | Miłosz Godyń" sideBarActiveItemID="cv">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Profile</div>
    </div>

    <div class="mb-10 text-justify">
        I entered the world of programming through systems integration and fell in love with backend development. My
        journey
        with Java, thanks to the Talend tool, was a pivotal moment. Currently, as an experienced backend developer, I
        specialize in creating APIs in Java and Spring.<br><br>

        My skillset also encompasses Python, AWS, SQL, and CI/CD processes that ensure the smoothness of software
        development. My passion is focused on refining backend skills and acquiring competencies in the DevOps domain,
        enabling me to combine software development with deployment and maintenance practices.<br><br>

        Having also worked in the past as technical support and administrator roles, I possess a unique ability to
        create
        software that caters to all – whether they are end-users, developers, or contributors supporting software from
        various angles.
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement
                title="Information Technology, B.S."
                subtitle="2018 — 2021 at WSB University, Wrocław, Poland"
        />
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Experience</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement
                title="Software Engineer at Cisco"
                subtitle="May 2022 — current in Warsaw, Poland"
        >
            In my role as a Developer for CX Cloud, I was actively involved in the enhancement and expansion of the
            platform's capabilities. My key responsibilities encompassed:

            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li>Developing new features and microservices for CX Cloud</li>
                <li>Implementing user stories</li>
                <li>Writing unit and integration tests</li>
                <li>Investigating and analyzing defects in order to provide the root cause</li>
                <li>Writing bug-fixes</li>
                <li>Analyzing and creating new user stories</li>
            </ul>

            Main technologies:<br>
            Java 11, Spring, AWS, PostgreSQL, Python 3.10<br><br>
        </TimeLineElement>
        <TimeLineElement
                title="Junior Java Developer at Capgemini"
                subtitle="Feb 2021 — Apr 2022 in Wrocław, Poland"
        >
            As a Junior Software Engineer in the automotive industry, my role primarily involved collaborating on the
            development of new features for external customers. I actively contributed to the improvement of the
            software product by implementing user stories, ensuring its quality through the creation of unit and
            integration tests. My contributions encompassed:

            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li>Developing new features for external customer in automotive industry</li>
                <li>Implementing user stories</li>
                <li>Writing unit and integration tests</li>
                <li>Investigating and analysing defects in order to provide the root cause</li>
                <li>Writing bug-fixes</li>
                <li>Presentation of work results in front of a client during a demo in German</li>
                <li>Taking over responsibility and supporting for changes in CI/CD process</li>
            </ul>

            Main technologies:<br>
            Java 8, Spring, Hibernate, Oracle Database, Jenkins<br><br>
        </TimeLineElement>
        <TimeLineElement
                title="Junior Low-Code Engineer at Objectivity"
                subtitle="Apr 2020 — Jan 2021, Wrocław, Poland"
        >
            As an Low-Code Engineer specializing in code-level support and low-code technologies such as
            Mendix, I fulfilled a pivotal role in maintaining and enhancing applications while delivering exceptional
            support to both internal teams and external clients. My responsibilities included:

            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li>2nd/3rd level of support on code-level</li>
                <li>Support, analysis, maintenance, enhancements and automation of applications</li>
                <li>Investigating and analysing defects in order to provide the root cause</li>
                <li>Supporting releases, changes, tests and planned fail-overs</li>
                <li>Writing code for implementing user stories</li>
            </ul>

            Main technologies:<br>
            Mendix 6/7/8, PostgreSQL, JIRA, Azure<br><br>
        </TimeLineElement>
        <TimeLineElement
                title="IT Systems Integration Specialist / ETL Developer at AmRest"
                subtitle="Jun 2019 — Mar 2021, Wrocław, Poland"
        >
            In my role as a Systems Integration Specialist, I actively contributed to the seamless integration of new
            systems utilizing ESB solutions, while also ensuring the ongoing functionality of system interfaces in
            collaboration with both internal and external stakeholders. Key aspects of my responsibilities included:

            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li>Delivery of new systems integrations based on the ESB solution. Maintaining system interfaces in cooperation with internal or external business partners</li>
                <li>Building ETL processes using Talend</li>
                <li>Analysis of user requirements, proposals and development solutions, preparation of necessary documentation</li>
                <li>Cooperation with business partners in the scope of process analysis and optimization on all used integration platforms (Talend, SAP Process Integration)</li>
                <li>Supporting all internal customers with system integration</li>
                <li>Monitoring of interfaces and their operation, in order to provide optimal interface performance</li>
                <li>Cooperating with external partners in order to provide high quality solutions for business</li>
            </ul>

            Main technologies:<br>
            Talend for ESB 7.01, Java 8, CentOS 7, Karaf 4.1.5, MS SQL 2016<br><br>
        </TimeLineElement>
        <TimeLineElement
                title="IT Retail Systems Administrator at AmRest"
                subtitle="Aug 2018 — May 2019, Wrocław, Poland"
        >
            As an accomplished Administrator of Oracle RES3700 systems (versions 4.x and 5.x) and myMicros, I
            effectively managed and enhanced the operational landscape by overseeing a spectrum of key responsibilities,
            including:<br>

            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li>Administration of Oracle RES3700 systems (4.x and 5.x) and myMicros</li>
                <li>Menu administration with co-op of marketing team</li>
                <li>myMicros and myInventory administration</li>
                <li>Testing new software and hardware features based on virtual environments</li>
                <li>System implementation in new markets according to company standards</li>
                <li>Sybase DB administration and maintenance</li>
                <li>Windows-based servers administration</li>
                <li>Remote workstation support</li>
                <li>On-site support for new country/brand integration</li>
                <li>Preparing software upgrade procedures, manuals, knowledge base articles etc.</li>
                <li>Trainings for IT, office and restaurant's employees</li>
            </ul>

            Main technologies:<br>
            Oracle RES 3700, Windows Server 2008/12, Python 3.4, VMware, Sybase DB<br><br>
        </TimeLineElement>
        <TimeLineElement
                title="IT Junior Retail Systems Administrator at AmRest"
                subtitle="Aug 2017 — Jul 2018, Wrocław, Poland"
        >
            As a dedicated Junior Administrator of Oracle RES3700 systems (versions 4.x and 5.x) and myMicros, I
            effectively managed and contributed to the successful operation of critical systems, encompassing the
            following responsibilities:

            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li>Administration of Oracle RES3700 systems (4.x and 5.x) and myMicros</li>
                <li>Menu administration with co-op of marketing team</li>
                <li>myMicros and myInventory administration</li>
                <li>System implementation in new markets according to company standards</li>
                <li>Sybase DB administration and maintenance</li>
                <li>Windows-based servers administration</li>
                <li>On-site support for new country/brand integration</li>
            </ul>

            Main technologies:<br>
            Oracle RES 3700, Windows Server 2008/12, Python 3.4, VMware, Sybase DB<br><br>
        </TimeLineElement>
        <TimeLineElement
                title="IT Service Desk Junior Technician at AmRest"
                subtitle="Oct 2016 — Jul 2017, Wrocław, Poland"
        >
            As a dedicated IT Service Desk Junior Technician, I was actively engaged in providing essential support to
            restaurant crew and office employees, fostering operational efficiency and effective problem resolution. My
            key responsibilities included:

            <ul class="list-disc mx-6 mb-10 grid gap-2">
                <li>Provide first line support for restaurant's crew and office employees</li>
                <li>Co-operation with vendors and external service companies</li>
                <li>Monitoring and redirecting current problems in the restaurants and office connected with proactive support and preventive actions</li>
                <li>Completing internal IT tasks (reports, SLA monitoring, documentations)</li>
                <li>Events coordination, on-site visits</li>
                <li>Working on database system (SQL)</li>
                <li>Configuration of CISCO routers</li>
                <li>Report analysis</li>
            </ul>

            Main technologies:<br>
            Alloy Navigator 7, Windows 7, AutoIT v3, Oracle RES 3700
        </TimeLineElement>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Certifications</div>
    </div>

    Click on certificate to see more.<br><br>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
            <a href="/certificates/Cert_MendixRapidDeveloper-19318.pdf" target="_blank"> Mendix Rapid Developer — Mendix</a>
        </li>
        <li>
            <a href="/certificates/Cert_JuniorJavaDeveloper.pdf" target="_blank"> Junior Java Developer — JavaStart</a>
        </li>
        <li>
            <a href="/certificates/Cert_FoundationProjectManagement.pdf" target="_blank"> Foundation of Project Management — AmRest</a>
        </li>
    </ul>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Languages</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>Polish — Native</li>
        <li>English — C1</li>
        <li>German — A2</li>
    </ul>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Java</li>
        <li>Spring</li>
        <li>Hibernate</li>
        <li>Python</li>
        <li>SQL</li>
        <li>PostgreSQL</li>
        <li>AWS</li>
        <li>Mendix</li>
        <li>Git</li>
        <li>Linux</li>
        <li>Windows</li>
        <li>ETL</li>
        <li>Technical Support</li>
        <li>Project Management</li>
    </ul>
</BaseLayout>
